.hero {
 position: relative;
}

.title {
 position: absolute;
 bottom: 0;
 width: 100%;
 text-align: center;
 background-image: linear-gradient(rgba(255, 255, 255, 0.7), white);
 border-top: red 2px solid;
}

img {
 width:100%;
}
.hero h5 {
 color: red;
}
.subhero {
 width: 100%;
 text-align: center;
}
.subhero h5 {
 color: red;
}
.col-sm-2 .content {
text-align: center;
font-size: 30px;
}
li {
 font-size: 20px;
 padding-top: 20px;
}
.content {
 color: red;
}
