.categories {
 margin-top: 35px;
}

.categories button {
 display: inline-block;
 padding: 20px;
 height: 15px;
 border-radius: 35%;
 border-top: 10px;
}

.community {
 padding: 125px;
}

.news {
 display: inline-block;
 margin: 40px;
}

.more {
 border-radius: 10%;
}

.disclaimer {
 padding-top: 30px;
 width: 50%
}

.copyright {
 padding-top: 30px;
 width: 100%;
 text-align: left;
}