
.latest-news {
margin:0;
}

.col-6 {
 padding: 25px;
}

.follow-us {
 padding-top: 100px;
 padding-bottom: 25px;
 float:right;
}

.flowers {
 border-radius: 5%;
 float:left;
}
.travel-info {
 padding-bottom: 25px;
}

.articles {
color: black;
font-weight: bold;
margin-top: 15px;
margin-bottom: 15px;
padding-left: 20px;
}

.icons {
 width: 20px;
 height: 40px;
}

.benefits {
 padding-left: 80px;
}

.benefits p {
 font-size: 20px;
}

.carousel {
 width: 500px;
 height: 400px;
}

.tips {
 padding-top: 40px;
}

.tips a {
 font-size: 35px;
}

.tips h5 {
 padding-top: 15px;
}

.carousel-container {
 color: white;
 background-color: black;
}

@media (max-width: 991.99px) {
 .carousel-container {

  padding-top: 48px;
  padding-bottom: 48px;
 }
}

