
.latest-news {
 padding-left: 80px;
 padding-right: 80px;
}

.col-6 {
 padding: 25px;
}

.follow-us {
 padding-top: 100px;
 padding-bottom: 25px;
}

.flowers {
 border-radius: 10%;
}
.travel-info {
 padding-bottom: 25px;
}

.articles {
padding-left: 20px;
color: black;
}

.icons {
 width: 20px;
 height: 20px;
}

.benefits {
 padding-left: 80px;
}

.scrollableRow {
 border-radius: 12px;
 display: inline-block;
 overflow-x: scroll;
}




