.col-2 {
    text-align: center;
    padding: 8px;
    border: none;
    width: 20%;
  }

  .row {
    border: none;
    margin-bottom: 10px;
  }

  #title {
    font-size: 60px;
    color: red;
  }

  .column_names {
    font-size: 35px;
  }

  input {
    width: 100px;
    height: 24px;
  }

  #cartTotal {
    color: red;
    font-size: 25px;
    margin-top: 10px;
  }

  #inputSum {
    align-items: center;
    margin-top: 20px;
  }