

.articles {
color: black;
font-weight: bold;
margin-top: 15px;
margin-bottom: 15px;
}

.headline {
 margin-top: 20px;
}

.benefits p {
 font-size: 20px;
}

.swiper-wrapper {
 background: linear-gradient(white, black)
}

.swipe-images {
 border-radius: 5%;
}



