h1 {
    background-color: aqua;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    max-width: 700px;
    width: 100%;
}

.taskbox {
  width: 100%;
  max-width: 300px;
  margin-top: 40px;
  font-size: 30px;
  font-family: fantasy;
  text-align: center;
  margin-left: 400px;
}

.addtask {
    margin-top: 40px;
    margin-left: 60px;
}
